In [1]:
import pandas as pd
import numpy as np
train = pd.read_csv('UNSW_NB15_training-set.csv')
test = pd.read_csv('UNSW_NB15_testing-set.csv')
train.shape, test.shape

((175341, 45), (82332, 45))

In [2]:
#Combine into file - 'concat_data':
train['source']= 'train'
test['source'] = 'test'
concat_data=pd.concat([train, test],ignore_index=True)
concat_data.shape

(257673, 46)

In [3]:
concat_data.head(257673)

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label,source
0,1,0.121478,tcp,-,FIN,6,4,258,172,74.087490,...,1,0,0,0,1,1,0,Normal,0,train
1,2,0.649902,tcp,-,FIN,14,38,734,42014,78.473372,...,2,0,0,0,1,6,0,Normal,0,train
2,3,1.623129,tcp,-,FIN,8,16,364,13186,14.170161,...,3,0,0,0,2,6,0,Normal,0,train
3,4,1.681642,tcp,ftp,FIN,12,12,628,770,13.677108,...,3,1,1,0,2,1,0,Normal,0,train
4,5,0.449454,tcp,-,FIN,10,6,534,268,33.373826,...,40,0,0,0,2,39,0,Normal,0,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257668,82328,0.000005,udp,-,INT,2,0,104,0,200000.005100,...,2,0,0,0,2,1,0,Normal,0,test
257669,82329,1.106101,tcp,-,FIN,20,8,18062,354,24.410067,...,1,0,0,0,3,2,0,Normal,0,test
257670,82330,0.000000,arp,-,INT,1,0,46,0,0.000000,...,1,0,0,0,1,1,1,Normal,0,test
257671,82331,0.000000,arp,-,INT,1,0,46,0,0.000000,...,1,0,0,0,1,1,1,Normal,0,test
257672,82332,0.000009,udp,-,INT,2,0,104,0,111111.107200,...,1,0,0,0,1,1,0,Normal,0,test

In [4]:
# Find the number of missing data
concat_data.apply(lambda x: sum(x.isnull()))

id                   0
dur                  0
proto                0
service              0
state                0
spkts                0
dpkts                0
sbytes               0
dbytes               0
rate                 0
sttl                 0
dttl                 0
sload                0
dload                0
sloss                0
dloss                0
sinpkt               0
dinpkt               0
sjit                 0
djit                 0
swin                 0
stcpb                0
dtcpb                0
dwin                 0
tcprtt               0
synack               0
ackdat               0
smean                0
dmean                0
trans_depth          0
response_body_len    0
ct_srv_src           0
ct_state_ttl         0
ct_dst_ltm           0
ct_src_dport_ltm     0
ct_dst_sport_ltm     0
ct_dst_src_ltm       0
is_ftp_login         0
ct_ftp_cmd           0
ct_flw_http_mthd     0
ct_src_ltm           0
ct_srv_dst           0
is_sm_ips_ports      0
attack_cat           0
label                0
source               0
dtype: int64

In [5]:
var = ['proto','service','state']
for v in var:
    print ('\nFrequency count for variable %s'%v)
    print (concat_data[v].value_counts())

Frequency count for variable proto
tcp       123041
udp        92701
unas       15599
arp         3846
ospf        3271
           ...
egp          131
netblt       131
igmp          48
icmp          15
rtp            1
Name: proto, Length: 133, dtype: int64

Frequency count for variable service
-           141321
dns          68661
http         27011
smtp          6909
ftp-data      5391
ftp           4980
pop3          1528
ssh           1506
dhcp           120
snmp           109
ssl             86
irc             30
radius          21
Name: service, dtype: int64

Frequency count for variable state
FIN    117164
INT    116438
CON     20134
REQ      3833
RST        84
ECO        12
ACC         4
URN         1
no          1
CLO         1
PAR         1
Name: state, dtype: int64

In [6]:
!pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\admin\anaconda3\lib\site-packages (2.4.0)
Requirement already satisfied: scipy>=1.0.0 in c:\users\admin\anaconda3\lib\site-packages (from category_encoders) (1.6.2)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from category_encoders) (0.12.2)
Requirement already satisfied: patsy>=0.5.1 in c:\users\admin\anaconda3\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: numpy>=1.14.0 in c:\users\admin\anaconda3\lib\site-packages (from category_encoders) (1.20.1)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\admin\anaconda3\lib\site-packages (from category_encoders) (0.24.1)
Requirement already satisfied: pandas>=0.21.1 in c:\users\admin\anaconda3\lib\site-packages (from category_encoders) (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=0.21.1->category_encoders) (2021.1)
Requirement already satisfied: six in c:\users\admin\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)

In [7]:
import category_encoders as ce
tenc=ce.TargetEncoder() 
enc_data =tenc.fit_transform(concat_data[['proto','service','state']],concat_data['label'])
enc_data

           proto   service     state
0       0.455718  0.547930  0.476401
1       0.455718  0.547930  0.476401
2       0.455718  0.547930  0.476401
3       0.455718  0.603213  0.476401
4       0.455718  0.547930  0.476401
...          ...       ...       ...
257668  0.762473  0.547930  0.912400
257669  0.455718  0.547930  0.476401
257670  0.000000  0.547930  0.912400
257671  0.000000  0.547930  0.912400
257672  0.762473  0.547930  0.912400

[257673 rows x 3 columns]

In [8]:
concat_data.drop(['proto','service','state','attack_cat'],axis = 1,inplace = True)
concat_data.head(257673)

,id,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,label,source
0,1,0.121478,6,4,258,172,74.087490,252,254,1.415894e+04,...,1,1,0,0,0,1,1,0,0,train
1,2,0.649902,14,38,734,42014,78.473372,62,252,8.395112e+03,...,1,2,0,0,0,1,6,0,0,train
2,3,1.623129,8,16,364,13186,14.170161,62,252,1.572272e+03,...,1,3,0,0,0,2,6,0,0,train
3,4,1.681642,12,12,628,770,13.677108,62,252,2.740179e+03,...,1,3,1,1,0,2,1,0,0,train
4,5,0.449454,10,6,534,268,33.373826,254,252,8.561499e+03,...,1,40,0,0,0,2,39,0,0,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257668,82328,0.000005,2,0,104,0,200000.005100,254,0,8.320000e+07,...,1,2,0,0,0,2,1,0,0,test
257669,82329,1.106101,20,8,18062,354,24.410067,254,252,1.241044e+05,...,1,1,0,0,0,3,2,0,0,test
257670,82330,0.000000,1,0,46,0,0.000000,0,0,0.000000e+00,...,1,1,0,0,0,1,1,1,0,test
257671,82331,0.000000,1,0,46,0,0.000000,0,0,0.000000e+00,...,1,1,0,0,0,1,1,1,0,test
257672,82332,0.000009,2,0,104,0,111111.107200,254,0,4.622222e+07,...,1,1,0,0,0,1,1,0,0,test

In [9]:
concat_data[['proto','service','state']] = enc_data
concat_data

,id,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,...,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,label,source,proto,service,state
0,1,0.121478,6,4,258,172,74.087490,252,254,1.415894e+04,...,0,0,1,1,0,0,train,0.455718,0.547930,0.476401
1,2,0.649902,14,38,734,42014,78.473372,62,252,8.395112e+03,...,0,0,1,6,0,0,train,0.455718,0.547930,0.476401
2,3,1.623129,8,16,364,13186,14.170161,62,252,1.572272e+03,...,0,0,2,6,0,0,train,0.455718,0.547930,0.476401
3,4,1.681642,12,12,628,770,13.677108,62,252,2.740179e+03,...,1,0,2,1,0,0,train,0.455718,0.603213,0.476401
4,5,0.449454,10,6,534,268,33.373826,254,252,8.561499e+03,...,0,0,2,39,0,0,train,0.455718,0.547930,0.476401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257668,82328,0.000005,2,0,104,0,200000.005100,254,0,8.320000e+07,...,0,0,2,1,0,0,test,0.762473,0.547930,0.912400
257669,82329,1.106101,20,8,18062,354,24.410067,254,252,1.241044e+05,...,0,0,3,2,0,0,test,0.455718,0.547930,0.476401
257670,82330,0.000000,1,0,46,0,0.000000,0,0,0.000000e+00,...,0,0,1,1,1,0,test,0.000000,0.547930,0.912400
257671,82331,0.000000,1,0,46,0,0.000000,0,0,0.000000e+00,...,0,0,1,1,1,0,test,0.000000,0.547930,0.912400
257672,82332,0.000009,2,0,104,0,111111.107200,254,0,4.622222e+07,...,0,0,1,1,0,0,test,0.762473,0.547930,0.912400

In [10]:
train = concat_data.loc[concat_data['source']=='train']
test = concat_data.loc[concat_data['source']=='test']

In [11]:
train.drop('source',axis=1,inplace=True)
test.drop('source',axis=1,inplace=True)

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [12]:
train.shape

(175341, 44)

In [13]:
test.shape

(82332, 44)

In [14]:
train.to_csv('UNSW_NB15_bayesian_enc_training_set.csv',index=False)
test.to_csv('UNSW_NB15_bayesian_enc_testing_set.csv',index=False)